:root {
    --aike-border: 1px solid rgba(211, 211, 211, 0.8);
}
/* 透明效果 */
/* 首页文章卡片 */
#recent-posts>.recent-post-item {
    background: rgba(255, 255, 255, 0.7);
}

/* 首页侧栏卡片 */
.card-widget {
    background: rgba(255, 255, 255, 0.7) !important;
}

/* 文章页面正文背景 */
div#post {
    background: rgba(255, 255, 255, 0.7);
}

/* 分页页面 */
div#page {
    background: rgba(255, 255, 255, 0.7);
}

/* 归档页面 */
div#archive {
    background: rgba(255, 255, 255, 0.7);
}

/* 标签页面 */
div#tag {
    background: rgba(255, 255, 255, 0.7);
}

/* 分类页面 */
div#category {
    background: rgba(255, 255, 255, 0.7);
}

/* 页脚透明 */
#footer {
    background: transparent !important;
}

/* 页脚黑色透明玻璃效果移除 */
#footer::before {
    background: transparent !important;
}

/* 头图透明 */
#page-header {
    background: transparent !important;
}

/* 头图遮罩层透明 */
#page-header::before {
    background: transparent !important;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
    background-color: transparent !important;
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #footer::before {
    background: transparent !important;
}

[data-theme="dark"] #page-header::before {
    background: transparent !important;
}

/* 夜间模式 */
[data-theme="dark"] #aside-content .card-widget {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 12px;
    box-shadow: 0 8px 15px -5px #2c2d300c;
    border: var(--aike-border);
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

[data-theme="dark"] div#post {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 12px;
    box-shadow: 0 8px 15px -5px #2c2d300c;
    border: var(--aike-border);
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

[data-theme="dark"] #recent-posts .recent-post-item {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 12px;
    box-shadow: 0 8px 15px -5px #2c2d300c;
    border: var(--aike-border);
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

[data-theme="dark"] div#archive, div#page {
    background: rgba(0, 0, 0, 0.3) !important;
    border-radius: 12px;
    box-shadow: 0 8px 15px -5px #2c2d300c;
    border: var(--aike-border);
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.3) !important;
}

.read-mode div#post {
    background: rgba(158, 204, 171, 0.3) !important;
}

/* 夜间模式下的阅读模式 */
[data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(0, 0, 0, 0.3) !important;
    color: #ffffff;
}

[data-theme="dark"] .read-mode div#post {
    background: rgba(0, 0, 0, 0.3) !important;
    color: #ffffff;
}

/* 背景切换 */
/* 由于全屏会出bug，所以直接给他隐藏 */

.winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
}

/* 老用户如果不再使用页面版可删除下面代码 */
/* #color {
    border: none;
    background: transparent;
    width: 166px;
    height: 110px;
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
}
#color::before {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 38px;
    top: 44px;
    content: '自定义颜色';
} */

@media screen and (max-width: 768px) {

    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }

    .pimgbox {
        height: 205px;
    }

    /* 老用户如果不再使用页面版可删除下面代码 */
    /* #color {
        width: 141px;
        height: 83px;
        margin: 7px;
    }
    #color::before {
        left: 33px;
        top: 33px;
    }     */

    /* 2.0新增内容 */
    .wb-min {
        display: none;
    }

    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}

/* 在返回顶部图标上显示阅读进度 */
/* 返回顶部 */

button#go-up #percent {
    display: none;
    font-weight: bold;
    font-size: 15px !important;
}

button#go-up span {
    font-size: 12px !important;
    margin-right: -1px;
}

/* 鼠标滑动到按钮上时显示返回顶部图标 */
button#go-up:hover i {
    display: block !important;
}

button#go-up:hover #percent {
    display: none !important;
}

#rightside>div>a,
#rightside>div>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    font-size: 18px;
}

/* 导航栏居中 */
#nav .menus_items {
    /* display: inline; 这个带不带都可以，本来就是inline */
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

/* 子菜单栏横向居中 */
#nav .menus_items .menus_item:hover .menus_item_child {
    display: flex;
}

/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(1) .menus_item_child {
    left: -65px;
}

.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -65px;
}

/* 评论的输入提醒 */
/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
    content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}

/* 评论表情包放大功能 */
#owo-big {
    position: fixed;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px #aaa solid;
    border-radius: 10px;
    z-index: 9999;
    display: none;
    transform: translate(0, -105%);
    overflow: hidden;
    animation: owoIn 0.3s cubic-bezier(0.42, 0, 0.3, 1.11);
}

[data-theme=dark] #owo-big {
    background-color: #4a4a4a
}

#owo-big img {
    width: 100%;
}

/* 动画效果代码由 Heo：https://blog.zhheo.com/ 提供 */
@keyframes owoIn {
    0% {
        transform: translate(0, -95%);
        opacity: 0;
    }

    100% {
        transform: translate(0, -105%);
        opacity: 1;
    }
}


/* 归档显示生肖 */
svg.icon {
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
    width: 1.5em;
    height: 1.5em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* 文章评论右侧弹框 */
div#post-comment.fixedcomment {
    position: fixed;
    top: 0;
    width: 60%;
    right: 0;
    padding: 25px 30px 20px 20px;
    height: 100vh;
    overflow: scroll;
    z-index: 90;
    background: rgba(222, 222, 222, 0.95);
    box-shadow: 3px 2px 14px #464340;
    animation: fixedright 0.5s linear;
}

div#post-comment.fixedcomment::-webkit-scrollbar {
    width: 0;
}

div#quit-board {
    display: none;
}

div#quit-board.fixedcomment {
    position: fixed;
    display: block !important;
    left: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    z-index: 89 !important;
    background: rgba(25, 25, 25, 0.3);
    filter: blur(4px) !important;
    animation: fixedleft 0.5s linear;
}

/*手机端样式适配*/
@media screen and (max-width: 768px) {
    div#post-comment.fixedcomment {
        width: 90%;
        right: 0;
    }

    div#quit-board.fixedcomment {
        width: 10%;
    }
}

/*动画效果*/
@keyframes fixedright {
    from {
        right: -50%;
    }

    to {
        right: 0;
    }
}

@keyframes fixedleft {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
}

/* 夜间模式匹配 */
[data-theme="dark"] div#post-comment.fixedcomment {
    background: rgba(35, 35, 35, 0.95);
    box-shadow: 3px 2px 12px #90a1a4;
}

[data-theme="dark"] div#quit-board.fixedcomment {
    background: rgba(147, 146, 128, 0.3);
}
